.nb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F2928;
    height: 70px;
    color: white;
    padding: 0px 5%;
}

.nb-links {
    display: flex;
    gap: 20px;
}

#nb-mobile-btn {
    display: none;
}

#nb-desktop-btn {
    display: block;
}

.nb-icon {
    display: none;
}


@media screen and (max-width:900px) {
    .nb {
        height: 60px;
    }

    .nb-links {
        position: fixed;
        top: 60px;
        right: -300px;
        background-color: #0F2928;
        flex-direction: column;
        height: calc(100vh - 60px);
        width: 250px;
        padding-left: 20px;
        padding-top: 20px;
        transition: 0.8s ease;
    }

    .nb-active {
        right: 0px;
    }

    #nb-mobile-btn {
        display: block;
    }

    #nb-desktop-btn {
        display: none;
    }

    .nb-icon {
        display: block;
    }
}