.h-sec1 {
    background-color: #0F2928;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10% 18%;
}

/* sec 1  */

.h-sec1-subHeading {
    font-size: 20px;
}

.h-sec1-mainHeading {
    font-size: 70px;
    text-align: center;
}

.h-sec1-mainHeading span {
    color: #4DAD49;
}

.h-sec1-text {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    padding: 0px 15%;
}

.h-sec1-btns {
    display: flex;
    gap: 20px;
}